
/* Logo area */
.logo{
  height:8em;
  width:auto;
}

.welcometitle{
  position: relative;
  left:20%;
}

p.title{
  display: inline-block;
  margin-top: 7%;
}

.welcome{
  margin-left: 20%;
  display: inline-block;
}
/* Navgation section Style sheet */
nav ul.ul_mainstyle{
  margin: 1% 0 0 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(241, 112, 25);
  list-style-type: none;
}

nav ul li{
  float: left;
  border-right: solid 5px white;
}

li:first-of-type{
  border-right: solid 15px white;
}

nav ul li a{
  display: block;
  color:white;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px 10px;
  font-size: 140%;
}


nav ul li img{
  height: 20px;
  width: auto;
  
}


.sticky{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  opacity: 0.9;
}


/* Search bar*/

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  margin-bottom: 5px;
}

#searchicon:after {
  content: "\f002";
  font-family: FontAwesome;
  position: absolute;
  font-size: 24px;
  color: #cccccc;
  top: 10px;
  left: 12px;
}

.searchicon{
  left: 50%;
  z-index: 999;
}


/* Login button */

.login_button{
  margin-left: 2%;
  display: inline-block;
  border-radius: 4px;
  background-color:white;
  border: solid 5px rgb(241, 112, 25);
  color: rgb(241, 112, 25);
  text-align: center;
  padding: 10 15 10 15;
  font-size: 14px;
}
/* side bar style */

.sideul{
  list-style-type: none;
  background-color:rgb(185, 216, 224);
  width: 50%;
  height: 100%;
}

div ul li a{
  text-align: center;
  display: block;
  color: rgb(241, 112, 25);
  padding: 15px 16px;
  text-decoration: none;
}

.sidesticky{
  position: sticky;
}

.ul1{
  background-color: white;
  color: white;
}

/* Main section area*/

.mainsection{
  width: 100%;
}


/* Utilities */
nav:hover{
  opacity: 1;
}

nav ul li a:hover{
  background-color: rgb(248, 248, 248);
  color: rgb(5, 5, 5);
}


div ul li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#leftdiv {
  width: 60%;
}

#rightdiv {
  width: 40%;
  float: right;
}

#leftnav{
  margin-top: 3%;
  border: 2px solid red;
  width: 30%;
}

#rightmain{
  margin-top: 3%;
  border: 2px solid blue;
  width: 70%;
  float: right;
}

.login_button:hover {
  background-color: rgb(241, 112, 25);
  color: white;
}

.login_button:active {
  background-color: rgb(230, 230, 230);
  color: rgb(0, 0, 0);
}