/* Apply to all pages */
html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}

a {
    text-decoration: none;
}

.inarticleline {
    display: inline-block;
}

.inarticleline p{
    display: inline-block;
}

body {
    counter-reset: section;
} 

p.firstupper::first-letter{
    font-weight: bold;
    font-size: 20px;
    color: rgb(241, 112, 25);
}

hr.orange{
    border: 3px solid rgb(241, 112, 25);
    width: 60%;
}

.p_large{
    font-size: larger;
}

/* Logo area */
.logoarea {
    width: 100%;
    padding: 0 0 0 1%;
}

.logo {
    height: 11%;
    width: 15%;
}

.formcontainer{
    text-align: center;
}

.loginbutton{
    background-color: grey;
    color: white;
    float: right;
}

p.title {
    display: inline-block;
    padding-left: 55%;
}

/* Navgation section Style sheet */
nav ul.ul_mainstyle {
    margin: 1% 0 0 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(241, 112, 25);
    list-style-type: none;
}

nav ul li {
    float: left;
    border-right: solid 5px white;
}

li:first-of-type {
    border-right: solid 15px white;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px 10px;
    font-size: 140%;
}


nav ul li img {
    height: 20px;
    width: auto;
}


.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    opacity: 0.9;
}

/* Login button */

.loginbutton{
    background-color: grey;
    color: white;
    float: right;
}

/* side bar style */

.stickybar {
    position: sticky;
    top: 10%;
}

.sideul {
    list-style-type: none;
    margin: 5% 0 0 1%;
    padding: 0;
    width: 40%;
    background-color: rgb(185, 216, 224);
    height: 100%;
}

div ul li a {
    text-align: center;
    display: block;
    color: rgb(241, 112, 25);
    padding: 15px 16px;
    text-decoration: none;
}

.sidesticky {
    position: sticky;
    top: 20%;
    width: 100%;
    z-index: 10;
    opacity: 0.9;
}

.ul1 {
    background-color: white;
    color: white;
}

/* Main_page */

.mainarea{
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    border: solid red 2px;
}

/* Main section area*/

.miandivision {
    margin-top: 3%;
    float: left;
    padding: 10px;
}

.miandivision.sidebar {
    width: 23%;
}

.miandivision.article_area {
    width: 70%;
}

.sectionimg {
    height: 200px;
    width: auto;
}

.redp {
    color: red;
}

.bluep {
    color: blue;
}

.yewp{
    color: yellow;
}

.grenp{
    color: green;
}

.article_button{
    background-color: rgb(241, 112, 25);
    color: white;
    border: 2px solid rgb(209,103,32);
    font-size: 100%;
    margin-right: 4%;
    border-radius: 12px;
    transition-duration: 0.4s;
    width: 20%;
}

/* Search bar*/
.searchbar {
    position: relative;
    padding-left: 70%;
}

input[type=text] {
    width: 20%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    margin-bottom: 5px;
}

#searchicon:after {
    content: "\f002";
    font-family: FontAwesome;
    position: absolute;
    font-size: 24px;
    color: #cccccc;
    left: 12px;
}

.searchicon {
    position: relative;
    margin-left: 70%;
    margin-top: 1%;
    z-index: 999;
}

/** Utilities **/
nav:hover {
    opacity: 1;
}

nav ul li a:hover {
    background-color: rgb(248, 248, 248);
    color: rgb(5, 5, 5);
}


.mainarticle:after {
    content: "";
    display: table;
    clear: both;
}

div ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.login_button:hover {
    background-color: rgb(241, 112, 25);
    color: white;
}

.login_button:active {
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
}

.themec{
    color: rgb(241, 112, 25);;
}

a:hover {
    text-decoration: underline;
}


.stickybar {
    position: sticky;
    top: 10%;
}

.articleContent {
    padding: 25px;
}

.articleIntro img {
    width: 60%;
}

.try {
    color: gold;
}

pre {
    width: 60%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    padding: 10px;
    margin: 15px 0;
    display: block;
    line-height: 1.7;
    background-color: #201e2f;
    border-radius: 3px;
    font-size: 14px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    border: 1px solid #201e2f;
    color: #f8f8f2;
}

.ending {
    text-align: center;
    font-size: 20px;
}

.congrats {
    font-size: 35px;
    color: rgb(241, 112, 25);
}

.last {
    float: left;
}

.next {
    float: right;
}

blockquote {
    border-left: 5px solid #DDD;
    padding: 10px 5px 10px 15px;
    margin: 15px 0;
    font-size: 15px;
    color: #555;
    background-color: #F5F5F5;
}

.quote {
    color: hotpink;
}

section ul li::before {
    content: "\2022";
    color:rgb(241, 112, 25);
    font-weight: bold;
    display: inline-block; 
    width: 4em;
    padding-top: 20px;
    margin-left: 0px;
}

tr:nth-child(even) {
    background-color: rgb(241, 112, 25);
    color: white;
    opacity: 0.7;
}

h2::before {
    counter-increment: section;
    content: counter(section) ". ";
}

button:hover{
    color: black;
    background-color: white;
  }


/* Math Operator Page */
p.rightcontent{
    text-indent: 0px;
    text-align: justify;
    line-height: 2.5;
    padding-left: 5%;
}

.leftline{
    border-left: solid 3px rgb(241, 112, 25);
}

.headimg{
    height: 100px;
    width: auto;
}

h1{
    font-size: 200%;
}

.imgcontainer {
    position: relative;
    text-align: center;
    color: Black;
    padding-bottom: 0px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 1%;
}

ul.mainul{
    list-style: none;
}



/* Welcome_Page */

.font_Welcome{
    font-family: 'Coda Caption', sans-serif;
}

.Welcome_h1 {
    font-family: 'Coda Caption', sans-serif;
    color: rgb(241, 112, 25);
    margin-top: 5%;
    font-size: 300%;
    animation: myanimation-head 5s infinite;
  }

.Welcome_Content{
    margin-top: 4%; 
    font-size: 22px;
}

.Welcome_button{
    font-family: 'Coda Caption', sans-serif;
    margin-top: 5%;
}

table.reference td {
  border: 1px solid #f5d06c;
}

 table.reference tr:nth-child(2n+1) {
    background-color: #fbeecb;
}

table.reference tr:nth-child(2n) {
    background-color: #35394b;
}

code{
  background: #fbeecb;
  color: #505050;
}

.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}


  .pagecontainer {
    position: relative;
    text-align: center;
    margin-top: 10%;
}

.pageimg{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
  }

.centere_word {
    position: absolute;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pagecontainer:hover .pageimg{
      opacity: 1;
  }

  .pagecontainer:hover .centere_word{
      opacity: 0.5;
  }


  /* Footer */
  footer{
    text-align: center;
    margin-top: 5%;
  }


/* Login page */
  .logo {
    height: 10%;
    width: 15%;
}

.formcontainer{
  margin: auto;
  margin-top: 1%;
  width: 60%;
  border: 1px solid grey;
  padding: 70 50 50 50;
  text-align: center;
  border-radius: 10px;
}

.larger{
  font-size: 150%;
}

.large{
  font-size: 70%;
}

.inarticleline {
  display: inline-block;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(241, 112, 25);
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
 cursor: pointer;
 display: inline-block;
 position: relative;
 transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
 opacity: 1;
 right: 0;
}

input[type="text"]{
    border-radius: 5px;
    color: red;
    border: black solid 2px;
    width: 30%;
    padding: 4px;
    line-height: 10px;
  }
input[type="password"]{
    border-radius: 5px;
    color:red;
    border: black solid 2px;
    padding: 3px;
    line-height: 3px;
    width: 30%;
  }

  .largep{
      font-size: large;
  }

/* Test page */

.ocean { 
    height: 5%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #015871;
  }

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }

.center {
    border-radius: 15px;
    background-color: rgb(240, 238, 238);
    padding: 10px;
    width: 70%;
  }
  
.centerp{
    margin-left: 20%;
    margin-top: 5%;
  }

.inlinep{
    display: inline-block;
  }

.hide{
    display: none;
}
  
/* Animation */


@keyframes myanimation-head {
    0% {color: red;}
    25%{color:rgb(255, 196, 0);}
    50%{color:rgb(151, 60, 7);}
    75%{color:brown;}
    100% {color: rgb(241, 112, 25);}
  }

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  }

@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
  } 

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }

/* Profile page */
.resultflow {
    background-color: rgb(253, 249, 10);
    width: 100%;
    height: 100px;
    overflow: auto;
    color: black;
  }
