<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

      <h3>
         <a href = "{{ url_for('show_all') }}">users</a>
      </h3>

      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Users (<a href = "{{ url_for('new') }}">Add user
         </a>)</h3>

      <table>
         <thead>
            <tr>
               <th>id</th>
               <th>Name</th>
               <th>Mark</th>

            </tr>
         </thead>

         <tbody>
            {% for user in users %}
               <tr>
                  <td>{{ user.id }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.mark }}</td>

               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>