{% extends "loginbase.html" %}
{% block loginarea %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
        <p class="redp inarticleline larger">{{msg}}</p>
    {% endfor %}
    {% endif %}
{% endwith %}
<h2 class="redp">Admin login</h2>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }} <!--Prevent CSRF attack--> 
    <div class="larger">
        <p>
            {{ form.username.label }}<br>
            {{ form.username (size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password (size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </div>
    <div class="larger">
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p><br>
    </div>
</form>
<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>

{% endblock %}