<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='nav_css.css')}}">
    <script src="{{ url_for('static', filename='JavaScript_file.js')}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet">
    <title>Swift- {% block titles %}{% endblock %}</title>
</head>
<body>
  {% if current_user.is_authenticated %}
  <h3 class="redp">Welcome, {{ current_user.username }}!</h3>
  {% endif %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
        <p class="redp inarticleline largep">{{msg}}</p>
    {% endfor %}
    {% endif %}
  {% endwith %}
    <nav class="sticky">
        <ul class="ul_mainstyle">
            <li><a href="/"><img src="{{ url_for('static', filename='/Image/swift_icon.png')}}" alt="home icon"></a>
            </li>
            <li><a href="/Setup"><b>Tutorial</b></a></li>
            <li><a href="/Test"><b>Test</b></a></li>
            {% if not current_user.is_anonymous %}
            <li>
              <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            </li>
            {% endif %}
            <li class="loginbutton">
              <a href="{{ url_for('adminpage') }}">Admin</a>
            </li>
            {% if current_user.is_anonymous %}
            <li class="loginbutton">
              <a href="{{ url_for('login') }}"><b>Login</b></a>
            </li>
            {% else %}
            <li class="loginbutton">
              <a href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% endif %}
        </ul>
      </nav>
    
      {% block articles %}{% endblock %}

</body>
</html>