{% extends "base.html" %}

{% block titles %}
Condition-Tutorial
{% endblock %}

{% block articles %}
<div class="mainarticle">
  <div class="stickybar">
      <div class="miandivision sidebar">
          <ul class="sideul">
              <li class="ul1">Side</li>
              <li><a href="/">Home</a></li>
              <li><a href="/Setup">Environment Setup</a></li>
              <li><a href="/Grammar">Basic Grammar</a></li>
              <li><a href="/Math">Math Operator</a></li>
              <li><a href="/Condition">Some Statements</a></li>
              <li><a href="/Function">Function</a></li>
              <li><a href="/Class">Class</a></li>
              <li><a href="/Inher">Inheritance</a></li>
              <li><a href="/Gener">Generics</a></li>
          </ul>
      </div>
  </div>

  <div class="miandivision article_area">
    <div class="imgcontainer">
      <img src="{{ url_for('static', filename='/Image/if_else.jpg')}}" alt="If_Else_icon" class="headimg">
      <h1>Conditionals & Control Flow</h1>
    </div>
    <div class="leftline">
      <p class="rightcontent firstupper"> Swift provides a variety of conditions & control flow statements. These include 
        <b>while</b> loops to perform a task multiple times, in addition, the <b>if</b>, <b>guard</b>, and <b>switch</b> 
        statements are used to execute different branches of code based on certain conditions. What's more, like many other 
        programming languages, it has <b>break</b> and <b>continue</b> statements that can transfer the flow of execution 
        to another point in your code.
       </p>
    </div><br>
    <div class="imgcontainer">
      <h3>Overview of this section</h3>
      <table>
        <tr>
          <th><b class="redp">Conditionals</b></th>
          <th><b class="bluep">Control Flow</b></th>
        </tr>
        <tr>
          <td><b>If-Else</b></td>
          <td><b>For-In Loops</b></td>
        </tr>
        <tr>
          <td><b>Switch</b></td>
          <td><b>While Loops</b></td>
        </tr>
      </table>
    </div><br>
    <h2>Conditionals</h2>
    <p>Swift provides two ways to add conditional branches to your code, which is the <b>if</b> statement and the <b>switch</b> 
      statement. In general, the <b>if</b> statement is used to evaluate simple conditions with only a few possible outcomes, while 
      the <b>switch</b> is better suited to more complex conditions that comes with multiple possible premutations.
    </p>
    <h3>If-Else</h3>
    <p>Similar to other programming languages, the If-Else conditional statements can be divided into two part: <b>If</b> and <b>Else</b>
    </p>
    <p>In the simplest form, the <b>if</b> statement has a single <b>if</b> condition, and it executes a set of statements if the 
      specified condition is <b class="redp">True. </b>The basic grammar of <b>if</b> statement in Swift is described below.
    </p>
    <pre>
      if &lt; <i>something is <b class="yewp">True</b></i> &gt; {
        <b class="grenp"> /* Execute the code */</b>
      }
    
    
      Example
    
      var Temp = 30
      if Temp &lt;= 32 {
        print("It's very cold. Consider wearing a scarf.")
      }
      
      <b class="grenp">// Prints "It's very cold. Consider wearing a scarf."</b>
    </pre>
    <p id="question_pop" class="redp"></p>
    <p>The <b>if</b> statement provides an alternative set of statements: <b><i>else</i></b> clause, for situations when the <b>if</b> 
      condition is  <b>false</b>. These statements are indicated by the <b>else</b> keyword.
    </p>
    <pre>
      if &lt; <i>something is <b class="yewp">True</b></i> &gt; {
        <b class="grenp"> /* Execute the code */</b>
      } <b class="yewp">else</b> {
        <b class="grenp"> /* Execute the alternative code if condition is false */</b>
      }
    
    
      Example
    
      var Temp = 20
      if Temp &gt;= 28 {
        print("It's very hot.")
      } <b class="yewp">else</b> {
        print("It's very cold. Consider wearing more clothes.")
      }
      
      <b class="grenp">// Prints "It's very cold. Consider wearing more clothes."</b>
    </pre><br>
    <h3>Switch</h3>
    <p>The <b>Switch</b> statement in Swift is similar to the <b>If-Else</b> statement. However, it condsiders a value and compares 
      it with several possible matching patterns. In addition, if the value cannot match any patterns, it can provide a <b class="redp">default</b> 
      result. The simplest grammar of <b>switch</b> is presented below.
    </p>
    <pre>
      <b class="yewp">switch</b> some value to consider {
        <b class="yewp">case</b> value 1:
            respond to value 1
        <b class="yewp">case</b> value 2:
            respond to value 2
        <b class="yewp">default</b>:
            otherwise, do something else
        }
    </pre>
    
    <h2>Control Flow</h2>
    <h3>For-In Loops</h3>
    <p>You can use the <b>For-In loop</b> to iterate over a sequence, such as items in an array, range of numbers, or characters in a string.</p>
    <p>You can enter your own word or Number, and click the button to see how this works! ( It will iterate each character in the string you 
      provided, and print each character in the list below ).
    </p>
    <label>Please enter any string: </label>
    <input type="text" id="foin_string" placeholder="Any character">
    <button type="button" class="article_button" onclick="loop_result()">get the result after loop</button>
    <button type="button" class="article_button" onclick="resetStr()">Clear String</button>
    <section id="list_display" style="display: none;">
      <h3>Here is the each character as a result after the loop</h3>
      <ul class="mainul" id="result_output">
      </ul>
      <p>The basic grammar of For-In Loop is: </p>
      <pre>
        for <b class="yewp">index</b> in <b class="yewp">var</b> {
          <b class="redp">Loop</b>
        }
      </pre>
    </section>
    <h3>While Loops</h3>
    <p>In Swift, a <b>while loop</b> performs a set of statement until a condition becomes a false. Normally, the <b>while loop</b> is used when the 
      number of iterations isn't known before the first iteration begins.
    </p>
    <pre>
      <b class="yewp">while</b> <b>condition</b> {
        <b class="redp">statements</b>
      }
    </pre>
    <div class="ending">
      <p class="congrats">Congratulation!!!</p>
      <p><b>You have finished this chapter!</b></p>
      <p><span class="last"><a href="/Math" rel="prev"><i class="fa fa-arrow-left" id="arrow"></i>  Last Chapter</a></span>
          <span class="next"><a href="/Function" rel="next"> Next Chapter <i class="fa fa-arrow-right" id="arrow1"></i></a>
          </span>
      </p>
      <br/>
    </div>
  </div>
</div>

{% endblock %}