<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav_css.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
  
  <nav class="sticky">
    <ul class="ul_mainstyle">
        <li><a href="./Main_page.html"><img src="Image/swift_icon.png" alt="home icon"></a>
        </li>
        <li><a href="#h1"><b>Tutorial</b></a></li>
        <li><a href="#c1"><b>Test</b></a></li>
        <li><a href="#j1"><b>Account</b></a></li>
    </ul>
  </nav>

  <div class="mainarticle">
    <section class="imgcontainer ">
      <h1 class="Welcome_h1">
        Welcome to Our Swift Mini Tutorial </h1>
    </section>
    <div class="img-container">
      <div class="pagecontainer ">
        <a href="./env_setup.html"><img src="./Image/sp-11.webp" alt="Italy" class="pageimg"></a>
        <div class="centere_word">
          <h1><b>Environment</b></h1>
        </div>
      </div>
    </div>
    <div class="img-container">
      <div class="pagecontainer ">
        <a href=""><img src="./Image/sp-22.jpeg" alt="Forest" class="pageimg"></a>
        <div class="centere_word">
          <h1><b>Grammar</b></h1>
        </div>
      </div>
    </div>
    <div class="img-container">
      <div class="pagecontainer ">
        <a href=""><img src="./Image/sp-33.jpg" alt="Mountains" class="pageimg"></a>
        <div class="centere_word">
          <h1><b>Operator</b></h1>
        </div>
      </div>
    </div>

    <div class="img-container">
      <div class="pagecontainer ">
        <a href=""><img src="./Image/sp-44.png" alt="Italy" class="pageimg"></a>
        <div class="centere_word">
          <h1><b>Condition</b></h1>
        </div>
      </div>
    </div>
    <div class="img-container">
      <div class="pagecontainer ">
        <a href=""><img src="./Image/sp-55.png" alt="Forest" class="pageimg"></a>
        <div class="centere_word">
          <h1><b>Function</b></h1>
        </div>
      </div>
    </div>
    <div class="img-container">
      <div class="pagecontainer ">
        <a href=""><img src="./Image/sp-66.jpg" alt="Mountains" class="pageimg"></a>
        <div class="centere_word">
          <h1><b>Class</b></h1>
        </div>
      </div>
    </div>

    <div class="img-container">
      <div class="pagecontainer ">
        <a href=""><img src="./Image/sp-77.png" alt="Italy" class="pageimg"></a>
        <div class="centere_word">
          <h1><b>Generic</b></h1>
        </div>
      </div>
    </div>

  </div>

  <footer>
    <p><b>Student : </b>Kebing Zhao |  22863702</p>
    <p><b>Student : </b>Liangbo Jin  |  23078811</p>
    <p><b><i>CITS 5505 Agile Web Development -- Proejct 2</i></b></p>
  </footer>
  
  