{% extends "loginbase.html" %}
{% block loginarea %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="larger">
        <p>
            {{ form.username.label }}<br>
            {{ form.username }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </div>
    <div class="larger">
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p><br>
        <div class="inarticleline">
            <p>New User? Create an account</p>
            <button class="button" style="vertical-align:middle"><span>Here </span></button>
        </div>
    </div>
</form>

{% endblock %}