{% extends "loginbase.html" %}
{% block loginarea %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }} <!--Prevent CSRF attack--> 
    <div class="larger">
        <p>
            {{ form.username.label }}<br>
            {{ form.username (size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password (size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </div>
    <div class="larger">
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p><br>
        <div class="inarticleline">
            <p>New User? Create an account</p>
            <button class="button" type="button" style="vertical-align:middle" onclick="window.location.href='/register'"><span>Here </span></button>
        </div>
    </div>
</form>
<div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
</div>

{% endblock %}