{% extends "base.html" %}

{% block articles %}
<div class="formcontainer" style="border: none; margin-top: 5%;">
  <table>
    <tr valign="top">
        <td><img src="{{ user.avatar(128) }}"></td>
        <td>
            <h1>User: {{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
        </td>
    </tr>
  </table>
  {% if user == current_user %}
  <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
  {% endif %}
  <br>
  <table>
    <tr valign="top">
      <td><b>Result</b></td>
      <td><b>Finish Time</b></td>
      <td><b>Feedback</b></td>
    </tr>
    {% for j in allmark%}
    <tr>
      <td>{{j.Mark}}</td>
      <td>{{j.Finish_Time}}</td>
      <td>
        <details>
          <summary>Feedback</summary>
          <p>{{j.Feedback}}</p>
        </details>
      </td>
    </tr>
    {% endfor %}
  </table><br>
  <h3 class="redp">Your Average Mark</h3>
  <p class="redp">{{average}}</p>

  <h3 class="redp">Summary of the received result from all users! Keep your hard work!</h3>
  {% for i in all %}
  <p class="redp">{{i.Mark}}</p>
  {% endfor %}
</div>

{% endblock %}