{% extends "base.html" %}

{% block titles %}
User-page
{% endblock %}

{% block articles %}
<div class="formcontainer" style="border: none; margin-top: 5%;">
  <table>
    <tr valign="top">
        <td><img src="{{ user.avatar(128) }}"></td>
        <td>
            <h1>User: {{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}<p>Last seen on: {{ user.last_seen }}</p>{% endif %}
        </td>
    </tr>
  </table>
  {% if user == current_user %}
  <p class="redp"><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
  {% endif %}
  <br>
  <table>
    <tr valign="top">
      <td><b>Result</b></td>
      <td><b>Finish Time</b></td>
      <td><b>Feedback (<b class="redp">Click me to view!</b>)</b></td>
    </tr>
    {% for j in allmark%}
    <tr>
      <td><b>{{j.Mark}}</b></td>
      <td><b>{{j.Finish_Time}}</b></td>
      <td>
        <details>
          <summary><b>Feedback</b></summary>
          <div class="resultflow">
            <p class="largep">{{j.Feedback}}</p>
          </div>
        </details>
      </td>
    </tr>
    {% endfor %}
  </table><br>
  <h3 class="redp">Your Average Mark</h3>
  <p class="redp larger">{{average}}</p>

  <h3 class="redp">Summary of the received result from all users! Keep your hard work!</h3>
  <table>
    <tr valign="top">
      <td><b>User</b></td>
      <td><b>Result</b></td>
    </tr>
    {% for i in all %}
    <tr>
      <td><b>{{i.user_id}}</b></td>
      <td><b>{{i.Mark}}</b></td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
